.App {
  text-align: center;
  border: 2px solid rgba(245, 13, 187, 0.932);
}

.container {
  text-align: center;
  border: 2px solid rgba(7, 6, 92, 0.932);
  background: linear-gradient(to bottom, #ecce5f 10%, #080a56 75%);
  box-shadow: 0 6px 35px 0 rgba(0, 0, 0, 0.5), 0 0px 88px 0 rgba(0, 0, 0, 0.5);
}
